<!DOCTYPE html>
<html>
<head>
  <title>NearBy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  
 <script src="//maps.google.com/maps/api/js?key=AIzaSyCV9mrkiC1MPy0kDbBZVn74DZg-Fnm9mrg"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'layouts/header'%>
<%= yield %>

</body>
</html>
